<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FAT_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <FAT_Utility.Properties.Settings>
            <setting name="BitlockerPassword" serializeAs="String">
                <value>L.1</value>
            </setting>
            <setting name="ExcludedDriveLetters" serializeAs="String">
                <value>c,d</value>
            </setting>
            <setting name="ExcludedDriveTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedDriveVolumeLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedDriveFormat" serializeAs="String">
                <value />
            </setting>
        </FAT_Utility.Properties.Settings>
    </userSettings>
</configuration>